    <div class="footer" id="footer">
        <div class="flex-row" style="padding-left: 50px; padding-right: 50px;">
            <div class="grp-foot">
                {% load static %}
                <!-- <img class="iitg-logo-white" src="{% static 'media/IITG WHITE.svg'%}" /> -->
                <div class="name-foot bit17" style="text-align: center;">Dr. Nelson Muthu<br>Department of Mechanical Engineering, IIT&nbsp;Guwahati</div>

            </div>
            <div type="button" class="back-to-top" onclick="window.scroll({
  top: 0,
  left: 0,
  behavior: 'smooth'
});">
            </div>
        </div>





        <div class="links" style="padding-left: 3.47vw; padding-right: 3.47vw;">
            <div class="links-content ast16"><a href="/" style="text-decoration:none; color:white;cursor:pointer;">Home</a></div>
            <div class="links-content ast16"><a href=/teaching style="text-decoration:none;color:white;cursor:pointer;">Teaching</a></div>
            <div class="links-content ast16"><a href="/publications" style="text-decoration:none;color:white;cursor:pointer;">Research & Publications</a></div>
            <div class="links-content ast16"><a href="/projects" style="text-decoration:none;color:white;cursor:pointer;">Projects</a></div>
            <div class="links-content ast16"><a type="button" onclick="window.scroll({
                top: 0,
                left: 0,
                behavior: 'smooth'
              });" style="text-decoration:none;color:white;cursor:pointer;" >Contact</a></div>
        </div>

        <div class="divider"></div>

        <p class="copy-right ast14">
            © 2021 | All rights reserved.
        </p>




    </div>