<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css'%}">
    <link rel="stylesheet" href="{% static 'splide.min.css'%}">
</head>


<body class="container">

        <header class="header">
        <div class="first-head">
            <img class="logo_header" src="{% static 'media/iitg_logo.png'%}">
            <a class="nelson_header bit17" style="font-size: 17px;"> Nelson Muthu</a>
        </div>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
            <li><a href="/" class="bit17" style="font-size: 17px; color: var(--blue100); ">Home</a></li>
            <li><a href="/teaching" class="bit17" style="font-size: 17px;color: var(--blue100);">Teaching</a></li>
            <li><a href="/projects" class="bit17" style="font-size: 17px;color: var(--blue100);"> Projects</a></li>
            <li><a href="/publications" class="bit17" style="font-size: 17px;color: var(--blue100);" href="#research">Research &
                    Publications</a></li>
            <li><a type="button" onclick="window.scroll({
                top: 0,
                left: 0,
                behavior: 'smooth'
              });" class="bit17" style="font-size: 17px;color: var(--blue100);">Contact</a></li>
        </ul>
    </header>

<!--    items begin her-->
    <div class="test-flex">

<!--        landing element without positions-->
        <div class="test-item" style="margin-top: -60px;">
                <div class="small-land-book" id="small-land-book">
        <div class="small-tan" id="small-tan"></div>

        <div class="small-flex" id="small-flex">
            <div class="small-land-intro">
                <div class="sland-intro bit32">Dr. Nelson Muthu</div>
                <div class="small-sub-intro-land ast24" id="sub-small">Assistant Professor<br /> Department of
                    Mechanical
                    Engineering
                    <br>Indian
                    Institute of Technology Guwahati</div>

<!--                <div class="small-rect">-->
<!--                    <div class="rect-content">-->
<!--                        <marquee direction="up" Scrolldelay="200">-->
<!--                            {% for position in positions %}-->
<!--                            {{position.name}}<br>-->
<!--                            {% endfor %}-->
<!--                        </marquee>-->
<!--                        &lt;!&ndash;scrollable&ndash;&gt;-->
<!--                    </div>-->
<!--                </div>-->


            </div>

            <div class="col-2" id="col2">

                <div class="interest-flex-small">

                    <div class="int-left">
                        <div class="grp-small">
                            <div class="all-inclusive-img"></div>
                            <div class="text-land bit18">Meshfree Methods</div>
                        </div>

                        <div class="grp-small">
                            <div class="all-inclusive-img"></div>
                            <div class="text-land bit18">Medical Device Innovation</div>
                        </div>

                        <div class="grp-small">
                            <div class="all-inclusive-img"></div>
                            <div class="text-land bit18">Finite Element Modeling</div>
                        </div>
                    </div>
                    <div class="int-right">
                        <div class="grp-small">
                            <div class="all-inclusive-img"></div>
                            <div class="text-land bit18">NDT</div>
                        </div>

                        <div class="grp-small">
                            <div class="all-inclusive-img"></div>
                            <div class="text-land bit18">Composites</div>
                        </div>

                        <div class="grp-small">
                            <div class="all-inclusive-img"></div>
                            <div class="text-land bit18">Fracture Mechanics</div>
                        </div>
                    </div>



                </div>

                <div class="small-contact ast18">
                    <div class="grp-land-flex">
                        <div class="cont-img" style="top:1px">
                            <img src="{% static 'media/icon-phone.svg'%}" />
                        </div>
                        <div class="cont-grp">+91 361 2583440</div>
                    </div>

                    <div class="grp-land-flex">
                        <div class="cont-img" style="top:3px">
                            <img src="{% static 'media/icon-mail.svg'%}" />
                        </div>
                        <div class="cont-grp" style="left:6px">nelsonm [at] iitg.ac.in</div>
                    </div>

                    <div class="grp-land-flex">
                        <div class="cont-img" style="top:1px">
                            <img src="{% static 'media/icon-location.svg'%}" />
                        </div>
                        <div class="cont-grp">Office C-201</div>
                    </div>
                </div>

                <div class="view-cv-small">
                    <div class="cv-rect" style="background: #FCF2E8;">
                        <div class="cv-text bit22" style="color: #162E41;">View CV</div>
                    </div>
                </div>

            </div>
        </div>

    </div>

        </div>



<!--      project section-->
        <div class="test-item">
             <div class="proj-book" id="projectsection">


        <div class="title-proj bit32">Research Projects</div>
        <!-- <div class="view-all-proj ast24">View Projects & Collaboartions here
            <img src="{% static 'media/d_arrow.svg' %}">
        </div> -->

        <div class="over-wrapper" id="over-wrapper">
            <div class="over-rect" style="order: 1;">
                <div class="tan-rect" id="tan-rect">
                    <div class="tan-frame" id="tan-frame">
                        <div class="proj-name bit24">Featured Projects</div>
                        <!-- <div class="proj-foot ast16">Prof. S.Kanagaraj (PI) | Dr. Nelson Muthu (Co-PI)</div> -->
                        <div class="proj-carousel">
                            <div class="splide" id="splide9">
                                <div class="splide__arrows">
                                    <button class="splide__arrow splide__arrow--prev">
                                        <img src="{% static 'media/carousel_arrow_prev.svg' %}" alt="" class="acads-arrow-prev-pos">
                                    </button>
                                    <button class="splide__arrow splide__arrow--next">
                                        <img src="{% static 'media/carousel_arrow_next.svg' %}" alt="" class="acads-arrow-next-pos">
                                    </button>
                                </div>
                                <div class="splide__track">
                                    <div class="splide__list">
                                        {% for project in projects %}
                                        {% if project.featured == True %}
                                        <div class="splide__slide">
                                            <div class="proj-card-new">
                                                <div class="proj-card-img">
                                                <img src="/media/{{project.image}}" alt="" style="max-height: 226px;
                                                max-width: 430px;
                                                width: auto;
                                                height: auto; margin-left: auto;
        margin-right: auto;">
                                                </div>

                                                <div class="proj-card-new-flex">
                                                    <div class="proj-card-new-flex-title bit16">
                                                        {{project.pi}}, {{project.copi}}
                                                    </div>
                                                    <div class="proj-card-new-flex-pname bit24">
                                                        {{project.name}}
                                                    </div>
                                                    <div class="proj-card-new-flex-spon bit24">
                                                        <div class="proj-card-new-flex-title bit16">
                                                            {{project.type}} <br> {{project.company}} | {{project.tenure}} <br> Status: {{project.status}}
                                                        </div>
                                                        <div class="proj-card-new-view bit16">
                                                            <a href="{{project.proj_id}}" style="color : var(--blue70)">View Project</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        {% endif %}
                                        {% endfor %}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="over-rect" style="order:0">
                <div class="blue-rect" id="blue-rect">
                    <div class="blue-frame" id="blue-frame">
                        <div class="tab" >
                            <div class="tablink" onclick="openCity('SP', this)" id="defaultOpen"><div class="ast18" style="text-decoration:none;">Sponsored</div></div>
                            <div class="tablink" onclick="openCity('CO', this)"><div class="ast18">Consultancy</div></div>
                        </div>
                        <div id="SP" class="tabcontent" style="overflow-y: scroll;"><div class="proj-overflow">
                            {% for project in projects %}
                            {% if project.type == "Sponsored" %}
                            <div class="grp-blue" id="grp-blue">
                                <div class="date-blue bit16">{{project.tenure}} </div>
                                <div class="blue-content ast18">{{project.name}}
                                </div>
                                <div class="proj-flex-view">
                                    <div class="iitg bit16">{{project.company}}
                                    </div>
                                    <a href="{{project.proj_id}}"><div class="view-proj bit16">view project</div></a>

                                </div>

                                <div class="div-blue"></div>



                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        </div>

                        <div id="CO" class="tabcontent" style="overflow-y: scroll;"><div class="proj-overflow">
                            {% for project in projects %}
                            {% if project.type == "Consultancy" %}
                            <div class="grp-blue" id="grp-blue">
                                <div class="date-blue bit16">{{project.tenure}} </div>
                                <div class="blue-content ast18">{{project.name}}
                                </div>
                                <div class="proj-flex-view">
                                    <div class="iitg bit16">{{project.company}}
                                    </div>
                                    <div class="view-proj bit16">view project</div>

                                </div>

                                <div class="div-blue"></div>



                            </div>
                            {% endif %}
                            {% endfor %}
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
        </div>

        <!--        collabs section-->

            <div class="test-item">
               <div>
                <div class="title-acads bit32">Collaborations</div>
                <div class="collab-flex">
                    <div class="collab-flex-col1">
                        <div class="rev-card">
                            <div class="rev-card-box">
                                <div class="rev-card-type bit32">
                                    Industrial
                                </div>
                               {% for collaboration in collaborations %}
                                <div class="rev-card-name bit17">
                                    {{collaboration.name}}
                                </div>
                                <div class="rev-card-line">
                                </div>
                                {%endfor%}
                            </div>
                            <div class="rev-card-circle">
                                <img src="{% static 'media/ice_circle.svg'%}" alt="" class="acad-card-circle-ice">
                                <img src="{% static 'media/indus_logo.svg'%}" alt="" class="acad-card-circle-logo">
                            </div>
                        </div>
                    </div>
                    {% if collaboration_acads %}
                    <div class="collab-flex-col2">
                        <div class="rev-card">
                            <div class="rev-card-box">
                                <div class="rev-card-type bit32">
                                    Academic
                                </div>
                                {% for collaboration_acad in collaboration_acads %}
                                <div class="rev-card-name bit17">
                                    {{collaboration_acad.name}}
                                </div>
                                <div class="rev-card-line">
                                </div>
                                {%endfor%}
                            </div>
                            <div class="rev-card-circle">
                                <img src="{% static 'media/ice_circle.svg'%}" alt="" class="acad-card-circle-ice">
                                <img src="{% static 'media/book_logo.svg'%}" alt="" class="acad-card-circle-logo">
                            </div>
                        </div>
                    </div>
                    {% endif %}
                </div>

            </div>
            </div>


<!--        footer-->
            <div class="test-item" style="margin-bottom: 0px;">
                {% include 'footer.html' %}
                </div>
</div>
</body>

</html>

<script>
    function openCity(cityName,elmnt) {
      var i, tabcontent, tablinks;
      tabcontent = document.getElementsByClassName("tabcontent");
      for (i = 0; i < tabcontent.length; i++) {

        tabcontent[i].style.display = "none";
      }
      document.getElementById(cityName).style.display = "block";
      elmnt.style.backgroundColor = color;

    }
    // Get the element with id="defaultOpen" and click on it
    document.getElementById("defaultOpen").click();
</script>


<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@latest/dist/js/splide.min.js"></script>
<script>
    new Splide('#splide9', {
        perPage: 1,
        width: '500px',
        height: '550px',
        rewind: true,

        arrows: 'slider',
        padding: {
            top: '1rem',
            bottom: '1rem',

        },
        breakpoints: {
            '700': {
                width: '400px',

            }
        },
    }).mount();
</script>
